<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Trader</th>
      <th>Stock</th>
      <th>Execution date</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.trader_id %></td>
        <td><%= transaction.stock_id %></td>
        <td><%= transaction.execution_date %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.price %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
